* {
margin: 0;
padding: 0;
}
body {
background-color: rgb(252,234,252);
color: rgb(82,11,82);
font-family: Arial;
margin-bottom: 3em;
text-align: center;
}
h1 {
font-size: 2em;
margin: 1em;
}
#search {
margin: 2em auto;
max-width: 500px;
width: 90%;
}
button, input {
background-color:rgba(250,216,250,.2);
border: 1px solid rgb(243,165,243);
color: rgb(99,14,99);
font-size: 1em;
padding: .5em;
}
input {
margin-bottom: .5em;
width: 150px;
text-align: center;
}
button {
margin: 1em .5em 1em;
width: 100px;
}
button:hover {
background-color:rgba(250,216,250.7);
}
#results {
display: flex;
flex-direction: row;
max-width: 500px;
margin: 0 auto;
}
#sprites-img, #sprites-img img {
width: 120px;
height: 120px;
}
.label {
line-height: 25px;
}
#details {
padding: 10px 0 10px 20px;
width: 180px;
text-align: left;
}
#pokemon-name {
text-transform: capitalize;
}
#types span{
background-color:rgba(250,216,250.7);
margin-right: 15px;
}
#stats {
padding: 10px;
width: 160px;
text-align: left;
}
